<!DOCTYPE html>
<html>
	<head>
		<title>Salesforce.com Data Compare Tool</title>
		<meta name="keywords" content="salesforce, salesforce.com, force.com, compare, data, sfdatacompare" />
  		<meta name="description" content="Compare data from objects between two Salesforce Orgs." />
  		<meta name="author" content="Ben Edwards (ben@benedwards.co.nz)" />
  		<meta charset="UTF-8" />

  		{% block css %}{% endblock %}
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />		

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-18288189-28', 'auto');
		  ga('send', 'pageview');
		</script>
	</head>	

	<body>
	    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
			<div class="modal-dialog small_dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal">
		        			<span aria-hidden="true">&times;</span>
		        			<span class="sr-only">Close</span>
		        		</button>
		        		<h3 class="modal-title" id="apiModalLabel">
		        			Salesforce Data Compare
		        		</h3>
		      		</div>
		      		<div class="modal-body">
		        		<p>
		        			For any errors or issues, please feel free to contact me on twitter <a href="https://twitter.com/benedwards44" target="_blank">@benedwards44</a> or via email <a href="mailto:ben@benedwards.co.nz">ben@benedwards.co.nz</a>.
		        		</p>
		        		<p>
		        			I am constantly trying to update and improve this application, as well as other apps I'm working on. Feel free to contact me if you'd like to contribute or have any ideas. All my applications are open sourced on GitHub at <a href="http://github.com/benedwards44" target="_blank">http://github.com/benedwards44</a>.
		        		</p>
		        		<p>
		        			If you haven't already, check out my other apps at the Salesforce Toolkit Page:<br/>
		        			<a href="http://sftoolkit.co/" target="_blank">http://sftoolkit.co/</a>
		        		</p>
		      		</div>
		      		<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				    </div>
		    	</div>
		  	</div>
		</div>

		<div class="clear"></div>

		<div class="col-md-8 col-md-offset-2">
			{% block content %}{% endblock %}
		</div>

		<!-- JS Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!-- Cookie scipt for AJAX posts to controller -->
		<script src="/static/js/cookie.js"></script>
		
		{% block scripts %}{% endblock %}

	</body>

</html>