{% extends 'base.html' %}

{% block content %}

	<h1>Salesforce Data Compare</h1>
	<p>
		This tool uses the Salesforce REST API to query objects in your databases and compare data between two Orgs. This is useful for post-data migrations to ensure that the data is migrated successfully and all rows match. It also allows for reference tables and custom settings to be matched and managed.
	</p>
	<p>
		None of your organisation information or data is captured or kept from running this tool. Because this tool is querying data in your Salesforce Org, if you are running on behalf of a client or do not own the data, it is important to ensure people are aware that another cloud-based tool is accessing your Salesforce data.
	</p>
	<p>
		Note: You will need to be a System Administrator on both Orgs in order to use this application.
	</p>

	{% verbatim %}
	<div ng-app="selectOrgApp">
		<div ng-controller="SelectOrgController" ng-init="init()">
			<div class="left-half">

				<h2>Org One</h2>

				<table id="orgOneLogin">

					<tr>
						<td width="125">
							<select id="org_one_env" name="org_one_env" class="form-control">
								<option value="Production">Production</option>
								<option value="Sandbox">Sandbox</option>
							</select>
						</td>
						<td>
							&nbsp;&nbsp;
							<button type="button" id="orgOneButton">
								Login
							</button>
						</td>
					</tr>

				</table>

				<table id="orgOneDisplay" style="display:none;">

					<tr>
						<td width="90">
							<strong>Username</strong>
						</td>
						<td>
							<span id="orgOneUsername"></span>
						</td>
					</tr>

					<tr>
						<td>
							<strong>Org</strong>
						</td>
						<td>
							<span id="orgOneOrg"></span>
						</td>
					</tr>

				</table>
				<br>
				<h2>Org One</h2>
				<br>	
				<div class="col-md-6">
					<select class="form-control" id="org-select-1" ng-model="userName1">
						<option ng-repeat ="token in all_tokens" value="{{token.username }}"> {{token.username }} - {{token.org_name}}</option>
					</select>
				</div>

			</div>

			<div class="right-half">

				<h2>Org Two</h2>

				<table id="orgTwoLogin">

					<tr>
						<td width="125">
							<select id="org_two_env" name="org_two_env" class="form-control">
								<option value="Production">Production</option>
								<option value="Sandbox">Sandbox</option>
							</select>
						</td>
						<td>
							&nbsp;&nbsp;
							<button type="button" id="orgTwoButton">
									Login
							</button>
						</td>
					</tr>

				</table>

				<table id="orgTwoDisplay" style="display:none;">

					<tr>
						<td width="90">
							<strong>Username</strong>
						</td>
						<td>
							<span id="orgTwoUsername"></span>
						</td>
					</tr>

					<tr>
						<td>
							<strong>Org</strong>
						</td>
						<td>
							<span id="orgTwoOrg"></span>
						</td>
					</tr>

				</table>
				<br>
				<h2>Org Two</h2>
				<br>	
				<div class="col-md-6">
						<select class="form-control" id="org-select-2" ng-model="userName2">
							<option ng-repeat ="token in all_tokens" value="{{token.username }}"> {{token.username }} - {{token.org_name}}</option>
						</select>
					</div>
			</div>
	

	{% endverbatim %}
	<div class="clear"></div>

	<div id="compareOrgs">

		<form action="." method="POST">

			{% csrf_token %}

			<div style="clear:both;margin: 5px 0;"></div>

			<input type="hidden" id="client_id" value="{{ client_id }}" />
			<input type="hidden" id="redirect_uri" value="{{ redirect_uri }}" />
			{% verbatim %}
			<input type="hidden" id="id_org_one" name="org_one" ng-value="userName1"/>
			<input type="hidden" id="id_org_two" name="org_two" ng-value="userName2"/>
			{% endverbatim %}
			<input type="submit" value="Begin Compare" />

		</form>

	</div>

</div>
</div>	

	{% if form.errors %}

		<div class="alert alert-danger" role="alert">
			{{ form.errors }}
		</div>

	{% endif %}

	<!-- Force logout when page is loaded -->
	<iframe src="https://login.salesforce.com/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>
    <iframe src="https://test.salesforce.com/secur/logout.jsp" width="0" height="0" style="display:none;"></iframe>

{% endblock %}


{% block scripts %}

	<!-- Angular scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>

	<!-- Angular controller -->
	<script src="/static/js/select-org-controller.js"></script>

{% endblock %}