<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>框总结</title>
</head>

<body>
<br />	
	<li>
	<label>下拉框</label>
	<select >
		<option>-请选择-</option>
		<option>1</option>
		<option>2</option>
	</select>
	</li>	
<br />
	<li>
	<label>单选框</label><br/>
	<input name="radiobutton" type="radio" value="男" checked="checked"/>男<br/>
	<input name="radiobutton" type="radio" value="女" checked="checked"/>女
	</li>
    
    <li>
        <label>单选框</label><br/>
        <input name="radiobutton" type="radio" value="男" checked="checked"/>男<br/>
        <input name="radiobutton" type="radio" value="女" checked="checked"/>女
        </li>
<br />
	<li>
	<label>多选框</label><br/>
	<input name="radiobutton" type="checkbox" value="篮球" checked="checked"/>篮球<br/>
	<input name="radiobutton" type="checkbox" value="足球" checked="checked"/>足球<br/>
	<input name="radiobutton" type="checkbox" value="排球" checked="checked"/>排球
	</li>
	
<br />
	<li>
	<label>table表格</label><br/>
	<table border="1">
		<tr>
			<td>地区</td>
			<td>日期</td>
		</tr>
	</table>
	</li>
	
	<br />
	<li>
	<label>form表单</label><br/>
	<form action="" method="get"> 
	性别：<br /> 
	<input name="sex" id="man" type="radio" value="" /> 
	<label for="man">男</label> 
	<input name="sex" id="woman" type="radio" value="" /> 
	<label for="woman">女</label> 
	</form>
    </li>
    
    <form>
        <select name="xueli" id="" >
        <option value="初中">初中</option>
        <option value="高中">高中</option>
        <option value="大学" selected="selected">大学</option>
        </select>
        </form>
</body>